@import views.Navigation
@import helper._
@import models.Tables._
@import models.Tables.User
@(usersRow: User, queries: Seq[Tables.PigQuery])

@queryDetailsBox(query: Tables.PigQuery) = {
    <div class="col-lg-12">
        <div class="panel panel-default queryPanel">
            <div class="panel-heading">
                <i class="fa fa-exclamation fa-fw"></i>
                <span class="title">@query.name</span>
                <div class="pull-right">
                    @form(routes.Queries.deleteQuery(query.id), 'class -> "inline") {
                        <input class="btn btn-xs btn-danger" type="submit" value="Delete">
                    }
                    <a href="@routes.Queries.editGET(query.id)" class="btn btn-xs btn-warning">Edit</a>
                    <a href="@routes.Queries.editor(query.id)" class="btn btn-xs btn-success">QueryEditor</a>
                    @if(query.serializedDeployedQuerie.isDefined){
                        <a href="@routes.Queries.run(query.id)" class="btn btn-xs btn-primary">Run</a>
                        <a href="@routes.Queries.results(query.id)" class="btn btn-xs btn-primary">Results</a>
                    }
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <p>
                        <span class="label label-primary">Status: @query.authorizationStatus</span>
                        <span class="label label-default">Execution: @query.executionStatus</span>
                        <span class="label label-default">Schedule:  @query.cronjob </span>
                    </p>
                    <div class="well well-sm">@query.description</div>
                </div>
                <div class="col-lg-8">
                    <span style="font-style: italic">Result preview not available</span>
                </div>
            </div>
        </div>
    </div>
}


@header("Queries", usersRow, Some(Navigation.Queries)) {
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Queries</h1>
                <p class="lead">These are the queries you currently have access to:
                    <a href="@routes.Queries.createGET" class="pull-right btn btn-sm btn-primary">Create new Query</a>
                </p>
            </div>
        </div>
        @queries.map(queryDetailsBox)
    </div>
}